* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #1B1B1B;
  color: white;
}

/* LOGIN PAGE */

.landingpagebackpc {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
}

.content-login-page {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 35vh;
}

.content-login-page h1 {
  font-size: 120px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 110px;
}

.content-login-page p {
  margin-bottom: 5vh;
  font-size: 70px;
  font-weight: 300;
}

.googlesignin, .facebooksignin {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 50px;
  margin: auto;
  color: rgb(3, 3, 3);
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: 17px;
  display: flex;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 0.5vh;
}

.googlesignin label, .facebooksignin label {
  cursor: pointer;
}

.googlesignin:hover, .facebooksignin:hover {
  background-color: rgb(146, 146, 146);
}

.googlesignin img, .facebooksignin img {
  width: 30px;
  margin-right: 20px;
  height: 30px;
  align-items: center;
}

.landingpageback {
  display: none;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.mail {
  margin-top: 20vh;
}

.mailmsg {
  margin-top: 5vh;
}

/* INDEX PAGE */

.banner-index {
  display: none;
}

.Start-LOGO {
  cursor: pointer;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.724), transparent)
}

.App-header h1 {
  font-size: 23px;
}

.App-header i {
  font-size: 23px;
  margin-left: 15px;
}

.leftside {
  align-items: center;
  display: flex;
}

.App-header .leftside img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}


.banner-index-pc img {
  width: 100%;
  height: 93vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.bottom-section-index{
  margin-top: 20px;
  text-align: center;
  padding: 0px 0;
  margin: 0px 0px;
  width: 60vw;
  margin: auto;
  margin-bottom: 0vw;
  justify-content: center;
  margin-top: 80vh;
}

.bottom-section-index-2  {
  margin-top: 20px;
  text-align: center;
  padding: 0px 0;
  margin: 0px 0px;
  margin: auto;
  margin-bottom: 10vw;
  justify-content: center;
}

.bottom-section-index h2, .bottom-section-index-2 h2 {
  font-weight: 400;
  letter-spacing: 3px;
  padding: 4.5vw 0px;
  font-size: 35px;

}

.CardsChoices {
  margin-top: 20px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
}

.Card {
  background-color: #353535;
  display: block;
  padding: 50px 20px;
  margin-right: 5px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  width: 250px;
  position: relative;

}

.Card:hover {
  background-color: white;
  color: black;
  transition: 500ms;
  cursor: pointer;
}

.Card i {
  font-size: 50px;
  position: absolute;
  top: -20px;
  left: 15px;
}

.Cardinfos {
  text-align: left;
}

.imgtop {
  margin-left: 10px;
}

.openmenu {
  display: none;
}

.menu-header {
  display: none;
}

.iconsmiddleheader {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsmiddleheader label{
  font-weight: 600;
  cursor: pointer;
  transition: 500ms;
  padding: 20px;
}

.iconsmiddleheader label:hover {
  color: gray;
  transition: 500ms;
}

.btn-index-mobile {
  display: none;
}

/* PAGE STYLE */

.contents-page {
  display: flex;
  width: 100vw;
}

.left-side-page {
  width: 50vw;
}

.right-side-page {
  width: 50vw;
}

.background-page img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 00px 00px;
  filter: brightness(0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.left-side-page {
  text-align: center;
  margin-top: 5vh;
}

.left-side-page i {
  font-size: 60px;
  cursor: default;
}

.left-side-page h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: default;
}

.content-page-middle {
  width: 50vw;
  text-align: center;
  margin-top: 5vh;
}

.button-info button{
  background-color: white;
  color: black;
  border: none;
  width: 400px;
  font-size: 19px;
  font-weight: 600;
  height: 75px;
  cursor: pointer;
  margin-bottom: 1vh;
  border-radius: 1vw;
}

.button-info-ativar button{
  background-color: #B0FF09;
  color: black;
  border: none;
  width: 400px;
  font-size: 19px;
  font-weight: 600;
  height: 75px;
  cursor: pointer;
  margin-bottom: 1vh;
  border-radius: 1vw;
}

.button-info p {
  width: 30%;
  margin: auto;
  margin-bottom: 5vh;
}

.loading {
  width: 100%;
  height: 200vh;
  margin-top: -35vh;
  position: fixed;
  background-color: #1B1B1B ;
  
  text-align: center;
  padding-top: 40vh;
  font-size: 40px;
  animation: loadingscreen 2s infinite;
  cursor: default;
}

.loading img{
  width: 250px;
  height: 200px;
  border-radius: 0px;
  filter: saturate(0);
  object-fit: cover;
}

.inner-circle-loading {
  border: 7px dashed white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
  animation: circle-loading 01s infinite;
}

@keyframes circle-loading {
  0% {
    transform: rotateZ(0deg);
  }


  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes loadingscreen {
  0% {
    -webkit-text-stroke: 1px white;
  }

  50% {
    color: #1B1B1B;
    -webkit-text-stroke: 1px white;
  }
}

.rotinasmobile {
  display: block;
  background-color: #242424;
  width: 500px;
  border-radius: 10px;
  padding: 15px;
}

.flex-box-rotinas {
  display: flex;
  flex-flow: row-reverse;
  width: 100%;
  padding: 0px 200px;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.block-box-rotinas {
  display: block;
  width: 100%;
  justify-content: center;
  margin: auto;
  position: relative;
}

.flex-box-rotinas .left-side-page{
  width: 600px !important;

}

.flex-box-rotinas .content-page-middle {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
}

.db-rotinas {
  margin-top: 1vh;
  height: 38vh;
  overflow: auto;
}

.rotina {
  display: block;
  margin: auto;
  width: 95%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  background-color: rgb(76, 76, 76);
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 1vh;
  cursor: pointer;
}

.rotina:hover {
  transition: 500ms;
  background-color: rgb(54, 54, 54);
}

.rotina_item {
  margin-top: 1vh;
  padding: 10px;
  background-color: #1B1B1B;
  border-radius: 10px;
}

.organizarsuarotina-tab {
  position: fixed;
  background-color: #242424;
  z-index: 10;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  left: 0;
  right: 0;
  padding: 20px;
  display: none;
  margin-top: -5vw;
}

.background {
  position: fixed;
  width: 100%;
  height: 110%;
  z-index: 9;
  background-color: #2424245c;
  margin-top: -12vh;
  display: none;
}


.organizarrotina-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.organizarrotina-top i {
  cursor: pointer;
  font-size: 30px;
}

.organizarrotina-top h1 {
  cursor: default;
}

.organizarrotina-top i:hover {
  color: lime;
  transition: 500ms;
}

.organizarrotina-buttons {
  margin: 20px 10px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #1b1b1b;
  display: block;
  justify-content: space-between;
  height: 60vh;
  overflow-y: auto;
}

.organizarrotina-buttons input {
  width: 100%;
  height: 4.5vh;
  outline: none;
  padding-left: 5px;
}

.componentadd-organizerotina {
  display: none;
}

.inputdiv {
  display: block;
}

.createrotina {
  margin: auto;
  text-align: center;
  padding: 0px 200px;
}

.createrotina button {
  width: 100%;
  height: 4vh;
  font-size: 16px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(7, 7, 7);
  font-weight: 600;
}

.createrotina button:hover {
  transition: 500ms;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.etapa2, .etapa3, .etapa4 {
  display: none;
}

.createrotina {
  display: none;
}

.stepanme {
  margin-bottom: 2vh;
  font-size: 21px;
  color: rgb(50, 125, 205);
}

.prevnextbutton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;

}

.prevnextbutton button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
}

.prevnextbutton button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.rotinaview {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1B1B1B;
  margin-top: -0vh;
  text-align: left;
  z-index: 20;
  padding: 5vw 9vw;
  text-align: center;
}

.rotinaview .top-rotinaview {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.top-rotinaview i {
  font-size: 60px;
  margin-right: 1vw;
}

.top-rotinaview h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.rotinaname-description {

  font-size: 20px;
}

.middle-rotinaview {
  margin-top: 2vh;
  text-align: center;
}

.middle-rotinaview a{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;

  text-decoration: none;
}
.middle-rotinaview a:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: 500ms;
}

.rotinas-view-index {
  margin-top: 2vh;
  text-align: left;
}

.rotinaedit {
  display: none;
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: #242424;
  margin-top: -23vh;
  text-align: left;
  z-index: 20;
  padding: 10vw;
}
.rotinaedit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotinaedit-header i {
  font-size: 40px;
  color: rgb(255, 98, 98);
}

.infoofeditrotina {
  padding: 10px 10vw;
}

.infoofeditrotina input{
  width: 100%;
  height: 4vh;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.rotina-exist {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  height: 23vw;
  overflow-y: auto;
} 

.componentrotinashow{
  background-color: lightgray;
  padding: 20px 20px;
  border-radius: 0px;
  color: rgb(30, 30, 30);
  margin-bottom: 1vh;
  border-left: none;
  width: 90%;
  margin: auto;
  margin-bottom: 0.5vh;
  border-radius: 0vw;
  cursor: pointer;
}

.rotinaview .componentrotinashow {
  background-color: lightgray;
  padding: 20px 20px;
  border-radius: 0px;
  color: rgb(30, 30, 30);
  margin-bottom: 1vh;
  border-left: none;
  width: 50%;
  margin: auto;
  margin-bottom: 0.5vh;
  border-radius: 1vw;
  cursor: pointer;
}

.comecocomponent {
  color: green;
}

.fimcomponente {
  color: red;
}

.rotinaedit-header i{
  cursor: pointer;
}

.titleedit {
  display: flex;
}
.titleedit h1 {
  margin-left: 1vw;
}

.component {
  display: none;
}

.buttonseditrotina {
  display: flex;
  justify-content: center;
}

.btn-delete-rotine {
  color: red;
  background-color: white;
  padding: 10px 50px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.btn-delete-rotine:hover {
  background-color: red;
  color:white;
  transition: 500ms;
}

.btn-save-rotina {
  color: limegreen;
  background-color: white;
  border-radius: 60px;
  padding: 10px 50px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 3vw;
  cursor: pointer;
}

.btn-save-rotina:hover {
  background-color: limegreen;
  color:rgb(73, 73, 73);
  transition: 500ms;
}

.backbutton {
  display: none;
}

.addcompbtn {
  background-color: rgb(117, 255, 122);
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.add {
  padding: 10px;
  background-color: rgb(100, 254, 100);
  border: none;
  border-radius: 10px;
  margin-top: 1vh;
  color: black;
  cursor: pointer;
}

.cancel {
  padding: 10px;
  background: rgb(255, 104, 104);
  border: none;
  border-radius: 10px;
  margin-top: 1vh;
  margin-left: 1vw;
  cursor: pointer;
  color: black;
}

.rotinacriada {
  margin-top: 5vh;
  margin: auto;
  width: 100%;
  padding: 10px;
  height: 19.5vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.horarios {
  display: flex;
}

.rotinalist-criada {
  margin-left: 1vw;
  width: 45%;
  height: 15vh;
  padding: 10px;
  background-color: #242424;
  border-radius: 10px;
  font-size: 13px;
}

.start, .end {
  color: black;
}

.toppost{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toppost-1 {
  display: flex;
  align-items: center;
  text-align: left;
}

.toppost-1 img{
  width: 50px;
  height: 50px;
  margin-right: 1vw;
  border-radius: 50px;
}

.middle-post {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 10px;
  text-align: left;
}

.bottom-post {
  text-align: left;
}

.posts {
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.toppost-2{
  font-size: 12px;
}

.postagem-show {
  display: none;
  margin: 0px 30vw;
}

.createpost {
  color: black;
  border: none;
  padding: 10px 30px;
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  margin-bottom: 1vh;
  align-items: center;
}

.createpost img {
  width: 50px;
  border-radius: 50px;
}

.createpost:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.postagem-show input{
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1vh;
  outline: none;
  color: black;
}

.postagem-show input:nth-child(1) {
  padding: 20px 10px;
}

.postagem-show button {
  color: black;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.feed-posts {
  margin: auto;
  margin: 0vw 30vw;
}

.posts {
  cursor: pointer;
  transition: 500ms;
}

.posts:hover {
  background-color: #373737;
  transition: 500ms;
}

.component-rotina-compartilhada {
  padding: 10px 20px;
}

.component-rotina-compartilhada h1{
  font-size: 17px;
}

.component-rotina-compartilhada p {
  font-size: 15px;
  margin-bottom: 1vh;
}

.tabela-rotina {
  margin: auto;
  width: 100%;
}

.tabela-rotina button {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
}



.tabela-rotina tr {
  justify-content: space-between;
  text-align: center;
}

.saverotina, .curtirrotina{
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.curtirrotina:hover {
  color: red;
  transition: 500ms;
}

.saverotina:hover {
  color: rgb(75, 251, 69);
  transition: 500ms;
}

.btn-share-rotina {
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: wite;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-share-div {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 1vh;
}

.account-page {
  margin: auto;
  text-align: center;
  margin-top: 5vh;
}

.account-page img {
  width: 150px;
  border-radius: 150px;
}

.account-page h1 {
  font-size: 25px;
}

.account-page p {
  color: gray;
  
}

.options-account-page {
  margin: auto;
  text-align: left;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  width: 40%;
  margin-top: 5vh;
  display: block;
  padding: 5px 15px;
}

.options-account-page a{
  margin-bottom: 1vh;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgb(77, 77, 77);

  color: white;
  padding: 15px 10px;
}

.options-account-page i {
  background-color: rgb(77, 77, 77);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 7px;
}

.options-account-page a:hover {
  background-color: rgb(149, 145, 145);
  border-radius: 20px;
  transition: 500ms;
}

.options-account-page label {
  cursor: pointer;
  
}

.App-RotinaAuto {
  background-color: black;
}

.Flex-box-RotinasAuto {
  display: flex;
  padding: 10px 8vw;
  justify-content: space-between;
  align-items: center;
}

.leftside-flex-rotinaauto p {
  color: #70FF00;
  font-size: 1.5vw;
  cursor: default;
  font-weight: 600;
}
.leftside-flex-rotinaauto h1:nth-child(2) {
  font-weight: 200;
  cursor: default;
  font-size: 3.7vw;
}

.leftside-flex-rotinaauto h1:nth-child(3) {
  font-weight: 800;
  font-size: 6vw;
  cursor: default;
  line-height: 9vh;
}

.leftside-flex-rotinaauto button {
  margin-top: 10vh;
  background-color: white;
  border: none;
  font-size: 1.2vw;
  cursor: pointer;
  border: 1px solid white;
  color: black;
  transition: 500ms;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 10px -10px 1px #70FF00;
  padding: 20px 50px;
}

.leftside-flex-rotinaauto button:hover {
  box-shadow: 0px 0px 0px transparent;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 500ms;
}

.image-inner {
  position: relative;
  width: 30vw;
  height: 65vh;
  background: transparent;
}

.image-inner .corredor {
  position: absolute;
  width: 24vw;
  z-index: 2;
  background-color: transparent;
  right: 0;

}

.corredorback {
  position: absolute;
  width: 35vw;

  right: 0;
  z-index: 0;
  
}

.destac-h1-image {
  position: absolute;
  z-index: 1;
  transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg);

  left: -9vw;
  bottom: 25vw;
  top: 16vw;
  color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 5vw;
}

.rotinas-existentes-automaticas {
  background-color: white;
  width: 100%;
  padding: 10px 8vw;
  margin-top: 23vh;
}

.rotinas-existentes-automaticas h1 {
  color: rgb(209, 209, 209);
  font-size: 50px;
  line-height: 40px;
  cursor: default;
}

.rotinas-existentes-automaticas h1.selectedrotinas {
  color: #FF5C00;
  font-size: 50px;
}

.inner-button-mobile {
  display: none;
}

.make-rotina {
  position: absolute;
  padding: 70px 9vw;
  margin-top: 100px;
  text-align: center;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 200%;
  background-color: black;
  display: none;
}

.make-rotina h1 {
  cursor: default;
  font-size: 60px;
}

.make-rotina .top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

.make-rotina  a {
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 3vh;
  color: rgb(103, 103, 103);
  margin-left: 0vw;
  margin-right: 80%;
  text-align: left;
  justify-content: left;
}

.make-rotina  a:hover {
  background-color: lime;
  color: black;
  padding: 10px;
  border-radius: 15%;
  transition: 500ms;
}

.make-rotina i.fa-comment {
  font-size: 100px;
  cursor: default;
  color: rgb(255, 255, 255);
}

.buttons-index {
  margin-top: 5vh;
  padding: 0vw 400px;
}

.addthis{
  display: block;

  margin-bottom: 2vh;
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.addtarefas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addthis:hover{
  background-color: black;
  border: 1px solid white;
  color: white;
  transition: 500ms;
 }

 .question {
  font-size: 20px;
  padding-bottom: 1vh;
  width: 40%;
  margin: auto;
  border-bottom: 1px solid white;
 }

.pc-header-flexbox-prolepse {
  display: block;
  display: flex;
  justify-content: space-between;
  margin: 50px 120px;
}

.pc-header-flexbox-prolepse h1 {
  cursor: pointer;
}

.pc-header-flexbox-prolepse i {
  cursor: pointer;
  font-size: 2rem;
}

.flex-header-application-prolepse {
  display: none;
}

.cronometro-display {
  margin: 0 auto;
  align-items: center;
  font-size: 4vw;
  cursor: default;
  margin-top: 0vh;
}

.cronometro-display-time {
  display: flex;
  align-items: center;
}

.cronometro-display-time-pod {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.cronometro-display-time-pod input {
  font-size: 6vw;
  width: 15vw;
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: none;
  outline: none;
  margin: auto;
  text-align: center;
}


.cronometro-display-time-pod input::placeholder {
  font-size: 6vw;
  font-weight: 500;
  color: white;
}


.cronometro-btns {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.cronometro-btns button {
  font-size: 1vw;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5vw 2vw;
  cursor: pointer;
  border-radius: 20px;
}

.cronometro-display img {
  width: 10vw;
  object-fit: cover;
  height: 10vw;
  border-radius: 0%;
  filter: saturate(0);

}

.gif-image {
  margin: auto;
  width: 100%;
  text-align: center;
}

#pausebtn {
  display: none;
}

#resume {
  display: none;
}

#finalizar {
  display: none;
}

.frase-motivacional {
  margin: auto;
  position: absolute;
  bottom: 100px;
  margin: auto;
  text-align: center;
  justify-content: center;
  left: 0%;
  right: 0%;
}

.frase-motivacional h2{
  font-size: 1.2rem;
  font-weight: 300;
  justify-content: center;
  
}

.cronometro-btns #finalizar {
  background-color: red;
  border: none;
  color: white;
}

.cronometro-btns #startbtn {
  background-color: rgb(44, 200, 20);
  color: white;
  border: none;
}

.navbarheaderprolepse {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(26, 26, 26);
  padding: 0px 20px;
  width: 500px;
  height: 100%;
  animation: opennavbar 500ms ease-out ;
  display: none;
}

.headernavbarprolepse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 50px 0px;
}

.headernavbarprolepse i{
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}
.headernavbarprolepse h1 {
  cursor: pointer;
}

.navbarheaderprolepse section h2 {
  font-size: 1rem;
  font-weight: 500;
  
}

.card-modes {
  margin: 20px 10px;
}

.card-prolepse-nav {
  background: #D9D9D9;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.card-prolepse-nav a {
  text-decoration: none;
  color: black;
}

.card-prolepse-nav#homebtn {
  background-color: red;
  border: 1px solid red;
  transition: 500ms;
}

.card-prolepse-nav#homebtn a {
  color: white;
}

.card-prolepse-nav#homebtn:hover {
  background-color: transparent;
  border: 1px solid red;
}

@media screen and (max-height: 540px) {
  .gif-image {
    display: none;
  }
}

@keyframes opennavbar {
  0% {
    right: -40vw;
    border-radius: 50px;
  }

  100% {
    
  }
}

#restartbutton {
  display: none;
}

.flexbox-hidratation {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  margin: auto;
}

.card-h {
  background-color: white;
  color: black;
  padding: 20px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: 500ms;
}

.card-h:hover {
  background-color: rgb(196, 193, 193);
}

.bottom-cell-hidratacao {
  display: none;
}

#bgfooterhidratacao {
  margin-top: 15vh;
  width: 100%;
  object-fit: cover;
  padding: 10px 0px;
}

.right-side-hidratacao {
  text-align: center;
}

.background-circle {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 100%;
}

@media screen and (max-width: 940px) {
  .pc-header-flexbox-prolepse {
    display: none;
  }
  .backbutton {
    display: none;
  }
  /* LOGIN PAGE */
  .landingpagebackpc {
    display: none;
  }

  .landingpageback {
    display: block;
    position: absolute;
    margin-top: -40vh;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  }

  .content-login-page {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 40vh;
  }

  .content-login-page h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .content-login-page p {
    margin-bottom: 5vh;
    font-size: 29px;
    margin-left: 0px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 25vh;
  }

  .googlesignin, .facebooksignin {
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 50px;
    margin: auto;
    color: rgb(3, 3, 3);
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    display: flex;
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 1vh;
  }

  .googlesignin label, .facebooksignin label {
    cursor: pointer;
  }

  .googlesignin:hover, .facebooksignin:hover {
    background-color: rgb(146, 146, 146);
  }

  .googlesignin img, .facebooksignin img {
    width: 25px;
    margin-right: 30px;
    height: 25px;
    align-items: center;
  }

  /* INDEX PAGE*/

  .iconsmiddleheader {
    display: none;
  }

  .openmenu {
    display: block;
    cursor: pointer;
  }

  .banner-index {
    display: block;
  }

  .App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.724), transparent)
  }

  .App-header h1 {
    font-size: 23px;
  }

  .App-header i {
    font-size: 23px;
    margin-left: 0px;
  }

  .leftside {
    align-items: center;
    display: flex;
  }

  .App-header .leftside img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }

  .banner-index {
    padding: 0px 00px;
    margin-bottom: 100vw;
  }

  .banner-index img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    transition: 300ms;
    z-index: -1;
    position: absolute;
    top: 0;
  }

  .btn-index-mobile {
    display: block;
    position: absolute;
    top: 45vh;
    width: 190px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    color: black;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 15px -10px 1px rgb(167, 167, 167);
    transition: 500ms;
  }

  .btn-index-mobile:hover {
    box-shadow: 0px 0px 0px transparent;
    transition: 500ms;
  }

  .banner-index img:hover {
    transform: scale(1.02);
    transition: 500ms;
    z-index: -15;
  }

  .banner-index-pc {
    display: none;
  }

  .bottom-section-index {
    margin: 0;
    margin-top: 20vw;
    text-align: center;
    width: 100vw;
    padding: 0px 30px;
  }

  .bottom-section-index-2 {
    margin: 0;
    margin-top: 1vw;
    text-align: center;
    width: 100vw;
    padding: 0px 30px;
    margin-bottom: 20vw;
  }

  .bottom-section-index h2, .bottom-section-index-2 h2 {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 35px;
    padding: 4.5vw 0px;
  }

  .CardsChoices {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .menu-header i.fa-xmark{
    font-size: 30px;
    cursor: pointer;
  }

  .Card {
    background-color: #353535;
    display: flex;
    padding: 45px 25px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    margin-bottom: 4vh;
  }

  .Card i {
    position: relative;
    top: 0px;
    right: 15px;
    left: 0;
  }

  .menu-header {
    display: none;
    position: fixed;
    background-color: #1B1B1B;
    box-shadow: 0vw 1vw 30vw black;
    width: 100%;
    padding: 40px 40px;
    height: 100vh;
    right: 0;
    animation: OpenMenu 0.3s ease-out;
    transition: 500ms;
    z-index: 30;
  }

  .loading {
    width: 100%;
    height: 200vh;
    margin-top: -45vh;
    position: fixed;
    background-color: #1B1B1B;
    text-align: center;
    padding-top: 40vh;
    font-size: 30px;
    animation: loadingscreen 2s infinite;
    cursor: default;
  }
  
  .loading img{
    width: 250px;
    height: 200px;
    border-radius: 0px;
    filter: saturate(0);
    object-fit: cover;
  }
  
  .inner-circle-loading {
    border: 7px dashed white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: auto;
    animation: circle-loading 01s infinite;
  }

  @keyframes OpenMenu {
    0% {
      margin-right: -80vw;
    }

    100% {}
  };

  .menu-header .Top-Menu h1 {
    font-size: 20px;
  }

  .menu-header .Top-Menu p {
    color: grey;
    font-size: 13px;
  }

  .menu-header .Top-Menu img {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    border-radius: 10px;
  }

  .icons-middle-menu {
    margin-top: 5vh;
  }

  .icons-middle-menu label {
    display: block;
    font-size: 20px;
    border-left: 5px solid gray;
    padding: 15px;
    margin-bottom: 1vh;
    cursor: pointer;
  }

  .icons-middle-menu label:hover {
    background-color: white;
    border-left: none;
    color: black;
    transition: 500ms;
  }

  .Top-Menu {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .Bottom-Menu {
    position: absolute;
    bottom: 10vh;
    text-align: center;
  }

  .Bottom-Menu .btn-signout {
    background-color: rgb(145, 0, 0);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    border: 0;
    font-size: 17px;
  }

  .Cardinfos {
    text-align: left;
    width: 70%;
  }

  .Cardinfos p {
    font-size: 13px;
  }

  /* PAGE STYLE */

  .contents-page {
    display: flex;
    width: 100vw;
  }

  .left-side-page {
    width: 50vw;
  }
  
  .title-page {
    position: absolute;
    top: 10vw;
    left: 0;
    right: 0;
  }

  .right-side-page {
    width: 50vw;
  }

  .background-page img {
    width: 100vw;
    height: 105vw;
    object-fit: cover;
    object-position: 00px 00px;
    filter: brightness(0.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .left-side-page {
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 0vw;

  }

  .left-side-page i {
    font-size: 60px;
    cursor: default;
  }

  .left-side-page h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
  }

  .content-page-middle {
    width: 100%;
    text-align: center;
    margin-top: 0vh;
    padding: 0px 3vw;
  }

  .button-info {
    width: 100%;
  }

  .button-info button{
    background-color: white;
    color: black;
    border: none;
    width: 100%;
    
    font-size: 19px;
    font-weight: 600;
    height: none;
    cursor: pointer;
    margin-bottom: 1vh;
    border-radius: 1vw;
  }

  .button-info-ativar button {
    color: black;
    border: none;
    width: 100%;

    font-size: 19px;
    font-weight: 600;
    height: none;
    cursor: pointer;
    margin-bottom: 1vh;
    margin-top: 90vw;
    border-radius: 1vw;
  }

  .button-info p {
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
  }

  .rotinasmobile {
    display: block;
    margin: auto;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    margin-bottom: 5vh;
    margin-top: -5vh;
    border-radius: 10px;
    width: 95%;
    padding: 15px;

  }
  .rotinas-pc {
    display: none;
  }

  .flex-box-rotinas {
    display: block;
    width: 100%;
    position: relative;
    padding: 0px 0px;
    justify-content: space-between;
    margin: auto;
    padding-top: 100vw;
  }
  
  .flex-box-rotinas .left-side-page{
    width: auto !important;
  
  }
  
  .flex-box-rotinas .content-page-middle {
    width: auto;
    text-align: center;
    margin-top: 5vh;
  }

  .organizarsuarotina-tab {
    position: fixed;
    background-color: #242424;
    z-index: 10;
    width: 100%;
    margin: auto;
    border-radius: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 45vw 20px;
    display: none;
    margin-top: -35vw;
  }
  
  .background {
    position: fixed;
    width: 100%;
    height: 110%;
    z-index: 9;
    background-color: #2424245c;
    margin-top: -12vh;
    display: none;
  }

  .organizarrotina-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .organizarrotina-top i {
    cursor: pointer;
    font-size: 25px;
    color: red;
  }
  
  .organizarrotina-top h1 {
    cursor: default;
    font-size: 22px;
  }
  
  .organizarrotina-top i:hover {
    color: lime;
    transition: 500ms;
  }
  
  .organizarrotina-buttons {
    margin: 20px 00px;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    display: block;
    justify-content: space-between;
    height: 50vh;
    overflow-y: auto;
  }
  
  .organizarrotina-buttons input {
    width: 100%;
    height: 4.5vh;
    outline: none;
    padding-left: 5px;
  }
  
  .componentadd-organizerotina {
    display: none;
  }

  .component h1{
    font-size: 20px;
  }
  
  .inputdiv {
    display: block;
  }
  
  .createrotina {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0px 0px;
  }
  
  .createrotina button {
    width: 100%;
    height: 5vh;
    font-size: 16px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
    font-weight: 600;
  }
  
  .createrotina button:hover {
    transition: 500ms;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  .stepanme {
    margin-bottom: 1vh;
    font-size: 21px;
    color: rgb(50, 125, 205);
  }

  .prevnextbutton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    color: white;
  }

  .prevnextbutton button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: black;
  }

  .rotinaedit {
    display: none;
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: #242424;
    margin-top: -14vh;
    text-align: left;
    z-index: 20;
    padding: 15vw 8vw;
    
  }
  .rotinaedit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rotinaedit-header h1 {
    margin-left: 1vw;
  }
  
  .rotinaedit-header i {
    font-size: 40px;
    color: rgb(255, 98, 98);
  }
  
  .infoofeditrotina {
    padding: 30px 0px;
  }
  
  .infoofeditrotina input{
    width: 100%;
    height: 4vh;
    outline: none;
  }

  .titleedit {
    align-items: center;
  }

  .componentrotinashow{
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 0px;
    color: rgb(30, 30, 30);
    margin-bottom: 1vh;
    border-left: 1vw solid rgb(87, 143, 2);
    width: 100%;
    margin: auto;
    margin-bottom: 1vh;
    font-size: 11px;
  }

  .rotinaview .componentrotinashow {
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 0px;
    color: rgb(30, 30, 30);
    margin-bottom: 1vh;
    border-left: 1vw solid rgb(87, 143, 2);
    width: 100%;
    margin: auto;
    margin-bottom: 1vh;
    font-size: 11px;
  }

  .rotina-exist {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    height: 58vh;
    overflow-y: auto;
  } 

  .toppost{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .toppost-1 {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .toppost-1 img{
    width: 50px;
    height: 50px;
    margin-right: 1vw;
    border-radius: 50px;
  }

  .middle-post {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 10px;
    text-align: left;
  }

  .bottom-post {
    text-align: left;
  }

  .posts {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  .toppost-2{
    font-size: 12px;
  }

  .postagem-show {
    display: none;
    margin: 0px 0vw;
  }

  .createpost {
    color: black;
    border: none;
    padding: 10px;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;

  }

  .postagem-show input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1vh;
    outline: none;
    color: black;
  }

  .postagem-show input:nth-child(1) {
    padding: 20px 10px;
  }

  .postagem-show button {
    color: black;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .feed-posts {
    margin: auto;
    margin: 0vw 0vw;
  }


  .component-rotina-compartilhada {
    padding: 10px 5px;
  }
  
  .component-rotina-compartilhada h1{
    font-size: 15px;
  }
  
  .component-rotina-compartilhada p {
    font-size: 13px;
    margin-bottom: 1vh;
  }
  
  .tabela-rotina {
    margin: auto;
    width: 100%;
  }

  .tabela-rotina button {
    text-align: left;
  }
  
  .tabela-rotina tr {
    justify-content: space-between;
    text-align: left;
    font-size: 12px;
  }
  
  .saverotina, .curtirrotina{
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  .curtirrotina:hover {
    color: red;
    transition: 500ms;
  }
  
  .saverotina:hover {
    color: rgb(75, 251, 69);
    transition: 500ms;
  }
  
  .rotinaview {
    display: none;
    position: absolute;
    width: 100%;
    height: 200vh;
    background-color: #1B1B1B;
    margin-top: -0vh;
    text-align: left;
    z-index: 20;
    padding: 5vw 9vw;
    text-align: center;
  }
  
  .rotinaview .top-rotinaview {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .top-rotinaview i {
    font-size: 60px;
    margin-right: 1vw;
    background-color: rgb(24, 116, 67);
    padding: 10px;
    border-radius: 10px;
  }
  
  .top-rotinaview h1 {
    margin-top: 1vh;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .rotinaname-description {

    font-size: 20px;
  }
  
  .middle-rotinaview {
    margin-top: 5vh;
    text-align: center;
  }
  
  .middle-rotinaview a{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  
    text-decoration: none;
  }
  .middle-rotinaview a:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 500ms;
  }
  
  .rotinas-view-index {
    margin-top: 5vh;
    text-align: left;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  }

  .options-account-page {
    margin: auto;
    text-align: left;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    width: 90%;
    margin-top: 5vh;
    display: block;
    padding: 5px 15px;
  }
  
  .options-account-page a{
    margin-bottom: 1vh;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgb(77, 77, 77);
  
    color: white;
    padding: 15px 10px;
  }
  
  .options-account-page i {
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 7px;
  }
  
  .options-account-page a:hover {
    background-color: rgb(149, 145, 145);
    border-radius: 20px;
    transition: 500ms;
  }
  
  .options-account-page label {
    cursor: pointer;
    
  }

  App-RotinaAuto {
    background-color: black;
  }
  
  .Flex-box-RotinasAuto {
    display: block;
    padding: 10px 8vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .leftside-flex-rotinaauto p {
    color: #70FF00;
    font-size: 20px;
    cursor: default;
    font-weight: 600;
  }
  .leftside-flex-rotinaauto h1:nth-child(2) {
    font-weight: 200;
    cursor: default;
    font-size: 30px;
  }
  
  .leftside-flex-rotinaauto h1:nth-child(3) {
    font-weight: 700;
    font-size: 60px;
    cursor: default;
    line-height: 50px;
  }
  
  .leftside-flex-rotinaauto button {
    margin-top: 10vh;
    background-color: white;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
    border: 1px solid white;
    color: black;
    transition: 500ms;
    font-weight: 700;
    letter-spacing: 3px;
    box-shadow: 10px -10px 1px #70FF00;
    padding: 20px 50px;
    display: none;
  }

  .inner-button-mobile {
    display: block;
  }

  .inner-button-mobile button{

    background-color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 10vw;
    cursor: pointer;
    z-index: 3;
    border: 1px solid white;
    color: black;
    transition: 500ms;
    font-weight: 700;
    letter-spacing: 3px;
    box-shadow: 10px -10px 1px #70FF00;
    padding: 20px 50px;
    display: block;
  }
  
  .inner-button-mobile button:hover {
    box-shadow: 0px 0px 0px transparent;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: 500ms;
  }
  
  .image-inner {
    position: relative;
    width: 100%;
    height: 40vh;
    background: transparent;
    margin-top: 7vh;
  }
  
  .image-inner .corredor {
    position: absolute;
    width: 70%;
    max-width: 55vw;
    z-index: 2;
    background-color: transparent;
    right: 0;
  
  }
  
  .corredorback {
    position: absolute;
    width: 100%;
    max-width: 70vw;
  
    right: 0;
    z-index: 0;
    
  }
  
  .destac-h1-image {
    position: absolute;
    z-index: 1;
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg);
  
    left: -5vw;
    bottom: 25vh;
    top: 15vh;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 12vw;
  }
  
  .rotinas-existentes-automaticas {
    background-color: white;
    width: 100%;
    padding: 30px 8vw;
    margin-top: 17vh;
  }
  
  .rotinas-existentes-automaticas h1 {
    color: rgb(209, 209, 209);
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    cursor: default;
  }
  
  .rotinas-existentes-automaticas h1.selectedrotinas {
    color: #FF5C00;
    font-size: 30px;
  }

  .flex-header-application-prolepse {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }

  .flex-header-application-prolepse i, .flex-header-application-prolepse h1 {
    font-size: 1.7rem;
  }

  .cronometro-display {
    font-size: 2.5rem;
    padding: 0px 40px;
  }

  .cronometro-btns {
    margin-top: 2vh;
  }

  .cronometro-btns button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
  }

  .cronometro-btns #finalizar {
    background-color: red;
    border: none;
    color: white;
  }

  .cronometro-btns #startbtn {
    background-color: rgb(44, 200, 20);
    color: white;
    border: none;
  }

  .frase-motivacional {
    margin: auto;
    position: absolute;
    bottom: 7vh;
    margin: auto;
    text-align: center;
    justify-content: center;
    left: 0%;
    right: 0%;

  }

  .cronometro-display img {
    width: 30vw;
    object-fit: cover;
    height: 30vw;
    border-radius: 100%;
  }
  
  .gif-image {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  
  .navbarheaderprolepse {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(2, 2, 2);
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: auto;
  }
  
  .headernavbarprolepse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 50px 0px;
  }
  
  .headernavbarprolepse i{
    font-size: 1.8rem;
    cursor: pointer;
    color: red;
  }
  .headernavbarprolepse h1 {
    cursor: pointer;
  }
  
  .navbarheaderprolepse section h2 {
    font-size: 1rem;
    font-weight: 500;
    
  }
  
  .card-modes {
    margin: 20px 10px;
  }
  
  .card-prolepse-nav {
    background: #D9D9D9;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card-prolepse-nav a {
    text-decoration: none;
    color: black;
  }
  
  .card-prolepse-nav#homebtn {
    background-color: red;
    border: 1px solid red;
    transition: 500ms;
  }
  
  .card-prolepse-nav#homebtn a {
    color: white;
  }
  
  .card-prolepse-nav#homebtn:hover {
    background-color: transparent;
    border: 1px solid red;
  }

  .cronometro-display-time-pod input {
    font-size: 15vw;
    width: 80px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: none;
    

    outline: none;
  }
  
  .cronometro-display-time-pod input::placeholder {
    font-size: 15vw;
    font-weight: 500;
    color: white;
  }

  @keyframes opennavbar {
    0% {
    }
  
    100% {
      
    }
  }

  .gif-image h4 {
    margin-top: 10vh;
    font-size: 1.7rem;
  }
  
  #imageprofileheader {
    width: 10vw;
    border-radius: 100%;
  }

  .bottom-pc-hidratacao {
    display: none;
  }

  .bottom-cell-hidratacao {
    display: block;
  }

  .flexbox-hidratation {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 50px 10px;
    margin: auto;
  }
  
  .card-h {
    background-color: white;
    color: black;
    padding: 20px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 500ms;
  }
  
  .card-h:hover {
    background-color: rgb(196, 193, 193);
  }
  
  #bgfooterhidratacao {
    margin-top: 15vh;
    width: 100%;
    object-fit: cover;
    padding: 10px 0px;
  }
  
  .right-side-hidratacao {
    text-align: center;
  }
  
  .background-circle {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 100%;
    margin: auto;
  }

  .block-rightside {
    margin-top: 5vh;
  }
}