* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #1B1B1B;
  color: white;
}

/* LOGIN PAGE */

.landingpagebackpc {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
}

.content-login-page {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 35vh;
}

.content-login-page h1 {
  font-size: 120px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 110px;
}

.content-login-page p {
  margin-bottom: 5vh;
  font-size: 70px;
  font-weight: 300;
}

.googlesignin, .facebooksignin {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 50px;
  margin: auto;
  color: rgb(3, 3, 3);
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: 17px;
  display: flex;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 0.5vh;
}

.googlesignin label, .facebooksignin label {
  cursor: pointer;
}

.googlesignin:hover, .facebooksignin:hover {
  background-color: rgb(146, 146, 146);
}

.googlesignin img, .facebooksignin img {
  width: 30px;
  margin-right: 20px;
  height: 30px;
  align-items: center;
}

.landingpageback {
  display: none;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.mail {
  margin-top: 20vh;
}

.mailmsg {
  margin-top: 5vh;
}

/* INDEX PAGE */

.banner-index {
  display: none;
}

.Start-LOGO {
  cursor: pointer;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.App-header h1 {
  font-size: 23px;
}

.App-header i {
  font-size: 23px;
  margin-left: 15px;
}

.leftside {
  align-items: center;
  display: flex;
}

.App-header .leftside img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}


.banner-index-pc img {
  width: 100%;
}

.bottom-section-index {
  margin-top: 20px;
  text-align: center;
  padding: 0px 0;
  margin: 0px 0px;
  width: 60vw;
  margin: auto;
  margin-bottom: 10vw;
  justify-content: center;
}

.bottom-section-index h2 {
  font-weight: 400;
  letter-spacing: 3px;
  padding: 50px 0px;
  font-size: 35px;

}

.CardsChoices {
  margin-top: 20px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
}

.Card {
  background-color: #353535;
  display: block;
  padding: 50px 20px;
  margin-right: 5px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  width: 250px;
  position: relative;

}

.Card:hover {
  background-color: white;
  color: black;
  transition: 500ms;
  cursor: pointer;
}

.Card i {
  font-size: 50px;
  position: absolute;
  top: -20px;
  left: 15px;
}

.Cardinfos {
  text-align: left;
}

.imgtop {
  margin-left: 10px;
}

.openmenu {
  display: none;
}

.menu-header {
  display: none;
}

.iconsmiddleheader {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsmiddleheader label{
  font-weight: 600;
  cursor: pointer;
  transition: 500ms;
  padding: 20px;
}

.iconsmiddleheader label:hover {
  color: gray;
  transition: 500ms;
}

.btn-index-mobile {
  display: none;
}



@media screen and (max-width: 800px) {

  /* LOGIN PAGE */
  .landingpagebackpc {
    display: none;
  }

  .landingpageback {
    display: block;
    position: absolute;
    margin-top: -40vh;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  }

  .content-login-page {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 40vh;
  }

  .content-login-page h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .content-login-page p {
    margin-bottom: 5vh;
    font-size: 29px;
    margin-left: 0px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 25vh;
  }

  .googlesignin, .facebooksignin {
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 50px;
    margin: auto;
    color: rgb(3, 3, 3);
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    display: flex;
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 1vh;
  }

  .googlesignin label, .facebooksignin label {
    cursor: pointer;
  }

  .googlesignin:hover, .facebooksignin:hover {
    background-color: rgb(146, 146, 146);
  }

  .googlesignin img, .facebooksignin img {
    width: 25px;
    margin-right: 30px;
    height: 25px;
    align-items: center;
  }

  /* INDEX PAGE*/

  .iconsmiddleheader {
    display: none;
  }

  .openmenu {
    display: block;
    cursor: pointer;
  }

  .banner-index {
    display: block;
  }

  .App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
  }

  .App-header h1 {
    font-size: 23px;
  }

  .App-header i {
    font-size: 23px;
    margin-left: 0px;
  }

  .leftside {
    align-items: center;
    display: flex;
  }

  .App-header .leftside img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }

  .banner-index {
    padding: 0px 00px;
    margin-bottom: 100vw;
  }

  .banner-index img {
    width: 100%;
    transition: 300ms;
    z-index: -1;
    position: absolute;
    top: 0;
  }

  .btn-index-mobile {
    display: block;
    position: absolute;
    top: 75vw;
    width: 190px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    color: black;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 15px -10px 1px rgb(167, 167, 167);
    transition: 500ms;
  }

  .btn-index-mobile:hover {
    box-shadow: 0px 0px 0px transparent;
    transition: 500ms;
  }

  .banner-index img:hover {
    transform: scale(1.02);
    transition: 500ms;
    z-index: -15;
  }

  .banner-index-pc {
    display: none;
  }

  .bottom-section-index {
    margin: 0;
    margin-top: 20vw;
    text-align: center;
    width: 100vw;
    padding: 0px 30px;
  }

  .bottom-section-index h2 {
    font-weight: 400;
    letter-spacing: 3px;
  }

  .CardsChoices {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  
  .menu-header i.fa-xmark{
    font-size: 30px;
    cursor: pointer;
  }

  .Card {
    background-color: #353535;
    display: flex;
    padding: 45px 25px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;
    margin-bottom: 4vh;
  }

  .Card i {
    position: absolute;
    top: -30px;
  }

  .menu-header {
    display: none;
    position: fixed;
    background-color: #1B1B1B;
    box-shadow: 0vw 1vw 30vw black;
    width: 100%;
    padding: 40px 40px;
    height: 100vh;
    right: 0;
    animation: OpenMenu 0.3s ease-out;
    transition: 500ms;
    z-index: 30;
  }

  @keyframes OpenMenu {
    0% {
      margin-right: -80vw;
    }

    100% {}
  };

  .menu-header .Top-Menu h1 {
    font-size: 20px;
  }

  .menu-header .Top-Menu p {
    color: grey;
    font-size: 13px;
  }

  .menu-header .Top-Menu img {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    border-radius: 10px;
  }

  .icons-middle-menu {
    margin-top: 5vh;
  }

  .icons-middle-menu label {
    display: block;
    font-size: 20px;
    border-left: 5px solid gray;
    padding: 15px;
    margin-bottom: 1vh;
    cursor: pointer;
  }

  .icons-middle-menu label:hover {
    background-color: white;
    border-left: none;
    color: black;
    transition: 500ms;
  }

  .Top-Menu {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .Bottom-Menu {
    position: absolute;
    bottom: 10vh;
    text-align: center;
  }

  .Bottom-Menu .btn-signout {
    background-color: rgb(145, 0, 0);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    border: 0;
    font-size: 17px;
  }

  .Cardinfos {
    text-align: left;
  }

  .Cardinfos p {
    font-size: 13px;
  }
}